<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ move_id }}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
</head>
<body>
    <table>
        <tbody>
            <tr><td>Move ID:</td><td>{{ move_id }}</td></tr>
            <tr><td>Container Number:</td><td>{{ container_number }}</tr>
            <tr><td>Load Status:</td><td>{{ load_status }}</td></tr>
            <tr><td>Priority:</td><td>{{ priority }}</td></tr>
            <tr><td>Customer:</td><td>{{ customer }}</td></tr>
            <tr><td>Origin:</td><td>{{ origin }}</td></tr>
            <tr><td>Destination:</td><td>{{ destination }}</td></tr>
            <tr><td>SCAC:</td><td>{{ scac }}</td></tr>
            <tr><td>Truck number:</td><td>{{ truck_number }}</td></tr>
            <tr><td>Driver:</td><td>{{ driver_id }}</td></tr>
        </tbody>
    </table>
</body>
</html>