<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
</head>
<body>
    <div class="boxed_area" style="width: min-content; alignment: center; margin: auto">
        <form name="login" action="/login" method="post" enctype="multipart/form-data">
            {% if message %}{{ message }}{% endif %}<br>
            Email: <input type="text" name="email" size="24" maxlength="128" required/><br><br>
            Password: <input type="password" name="password" size="24" maxlength="128" required/><br>
            <div style="text-align: center">
                <button type="submit">Login</button>
                <a href="https://yusen-tracker.com/register">
                    <input type="button" value="Or Register"/>
                </a>
            </div>
        </form>
    </div>
</body>
</html>